@use "../../foundation/mixin" as *;
@use "../../foundation/color" as c;
@use "../../foundation/fonts" as f;

.c-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0px 0 6px 0;
  border-bottom: 1px solid c.$text-color;
  &::after {
    content: "→";
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    transform: translateY(0px);
  }
}

.c-btn--white {
  color: c.$white-color;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0px 0 5px 0;
  border-bottom: 1px solid c.$white-color;
  &::after {
    content: "→";
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 2px;
  }
}