@use "../foundation/color";
@use "../foundation/mixin" as *;

header {
  width: 100%;
  height: responsiveValue(100px,80px);
  box-sizing: border-box;
  padding: 30px 100px;
  @include mq(sp) {
    padding: 20px;
  }
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 30px #00000030;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999999999;
  .l-header__inner {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .l-header__logo {
      width: responsiveValue(300px,200px);
      img {
        width: 100%;
      }
    }
    nav {
      width: 70%;
      max-width: 900px;
      min-width: 550px;
      list-style: none;
      @include mq(sp) {
        opacity: 0;
        pointer-events: none;
      }
      @include mq(sp) {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vw;
        max-width: auto;
        min-width: auto;
        height: 100svh;
        background-color: white;
        padding: 20px;
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
      }
      .l-header__gnav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mq(sp) {
          width: 100%;
          flex-direction: column;
          margin-top: 100px;
          margin-bottom: 50px;
        }
        li {
          font-weight: bold;
          margin: 5px 0;
          @include mq(sp) {
            margin: 0;
            margin-bottom: 30px;
          }
          text-align: center;
          a {
            font-size: responsiveValue(1.6rem,1.6rem);
          }
        }
      }
    }
    .active {
      transition: 0.3s;
      opacity: 1;
      pointer-events: auto;
    }
  }
}